  <section class="bg-gray-900 text-white min-h-screen w-full">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="text-center">
        <h2 class="text-3xl font-bold sm:text-4xl">Hola , soy Marco Rubio</h2>
        <p class="mt-4 text-gray-300 text-xl">
          He elaborado este curriculum con el propósito de asegurar una oportunidad para crecer como científico de datos. Estoy emocionado por la posibilidad de ser considerado para este puesto.
        </p>
      </div>
  
      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <a
          *ngFor="let item of items"
          class="block rounded-xl border border-gray-800 p-10 shadow-lg transition hover:{{item.hover}}"
          href="{{item.link}}"
        >
        <img 
        src="{{item.imagen}}" 
        class="size-10 text-pink-500" 
        alt="{{item.alt}}"
      />
          <h2 class="mt-4 text-xl font-bold text-white">{{item.titulo}}</h2>
        </a>
      </div>
      <div class="mt-12 text-center">
        <button
          (click)="descargarCV()"
          class="inline-block rounded bg-pink-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none"
        >
          Descargar CV
        </button>
      </div>
    </div>
  </section>
  